{% load static %}
<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body class="base">
        {% block head %}
        <h1>welcome {{name}}</h1> 
        {% endblock %}
        {% block content %}
            <div class="login" >
            <a href="{% url 'ques' %}" >start quiz</a>
           
            <a href="{% url 'add' %}" >add new question</a> 
            <a href="{% url 'change' %}">change password</a>
     
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
            <button type="submit" >Logout</button>
            </form>
           
    </div>
   {% endblock %}
    </body>
</html>
     